{% extends "gbe_base.html" %}
{% block content %}
    <h1 style="background:lightblue;padding:10px"> Growing Beyond Earth Chart Demo </h1>
    <p>These are tests of MongoDB and Ploty for charting data.  The data was programatically extracted form the 2020 spreadhseets and put into a cloud MongoDB database.  The flask server and charting programs (Python) are running on a Raspberry Pi.</p>
    <h1><a href="growth_rate">Attribute for all schools</a></h1>
    <h1><a href="school">Attribute by School</a></h1>
    <h1><a href="histogram">Histogram of Environmental Variables</a></h1>
    <h1><a href="box">Box Chart of Variabale</a></h1>
    <h1><a href="scatter">Two Variable Scatter Plot</a></h1>
    <h1><a href="env_scatter">Environment Scatter Plot</a></h1>
    <h1><a href="germination">Germination Rate</a></h1>
    <h1><a href="env_bubble">Bubble Scatter - Variable and Environment</a></h1>
    <h1><a href="score_card">Data Entry Score Card</a></h1> 
    <h1><a href="health">Health by Plot and School</a></h1> 
    <h1><a href="deaths_week">Deaths per Week</a></h1> 

    <h1>More to come ...</h1>
{% endblock %}
