{% extends "base.html" %}
{% block content %}


<h1>Dashboard</h1>
<p>Shcool:</br>
Box:</br>
Experiment:</br>
Trial:</br></p>

<div class="grid-container">
  <div class="grid-item">Temperature</div>
  <div class="grid-item">Humidity</div>
  <div class="grid-item">Co2</div>  
  <div class="grid-item">Lights (On/Off)</div>
  <div class="grid-item">5</div>
  <div class="grid-item">6</div>  
  <div class="grid-item">7</div>
  <div class="grid-item">8</div>
  <div class="grid-item">Latest Image</div>  
</div>

{% endblock %}