{% extends "base.html" %}
{% block content %}

<p>Mars Farm Trial Charts: trial_charts/Index</p>
<p>This is a placeholder for future work when a standardized data format has been created.</br>
These charts demonstrate individual ("Trial") level charts using the legacy data format</br>
The new data format charts (Trial level) will be based on these.  
The new charts will be found in the "Trial" directory</p>
<p>See the below page for working examples</p>
<p><a href="/gbet"><i class="material-icons">insert_chart</i> GBE_T Charts</a></p>


{% endblock %}
