{% extends "base4.html" %}
{% block content %}


<div class="wrapper">   
    <div id="slider4" class="text-center">
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_1200.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_1300.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_1400.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_1500.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_1600.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_1700.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_1800.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_1900.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_2000.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_2100.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_2200.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-18_2300.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-19_0000.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-19_0100.jpg')}} style="width:100%"></p>
        </div>
        <div class="slide-img">
            <p><img src={{url_for('static', filename='pics/2023-01-19_0200.jpg')}} style="width:100%"></p>
        </div>
    </div>
</div>

{% endblock %}
