<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">

<style>
.wrapper{
    width: 1000px;
    height: 500px;
    overflow-x:scroll;
}
#slider4{
    white-space: nowrap;
}
.slide-img{
    background: #ccc;
    height: 200px;
    display: inline-block;
    width: 100px;
}
</style>
<body>

<div class="wrapper">   
    <div id="slider4" class="text-center">
        <div class="slide-img">
            <p>1</p>
        </div>
        <div class="slide-img">
            <p>2</p>
        </div>
        <div class="slide-img">
            <p>3</p>
        </div>
        <div class="slide-img">
            <p>4</p>
        </div>
        <div class="slide-img">
            <p>5</p>
        </div>
        <div class="slide-img">
            <p>6</p>
        </div>
        <div class="slide-img">
            <p>7</p>
        </div>
        <div class="slide-img">
            <p>8</p>
        </div>
        <div class="slide-img">
            <p>9</p>
        </div>
        <div class="slide-img">
            <p>10</p>
        </div>
        <div class="slide-img">
            <p>11</p>
        </div>
        <div class="slide-img">
            <p>12</p>
        </div>
        <div class="slide-img">
            <p>13</p>
        </div>
        <div class="slide-img">
            <p>14</p>
        </div>
        <div class="slide-img">
            <p>15</p>
        </div>
    </div>
</div>

</body>
</html>
