<div class="sidebar column side">
  <a href="/home"><i class="material-icons">home</i>Home</a>
  <a href="/admin"><i class="material-icons">admin_panel_settings</i> Admin</a>
  <a href="#services"><i class="material-icons">search</i> Search</a>
  <a href="#services"><i class="material-icons">eco</i> Plants</a>
  <a href="#services"><i class="material-icons">menu</i> Trials</a>
  <a href="#services"><i class="material-icons">assignment</i> Enter Data</a>
  <a href={{url_for('gbet_charts_blueprint.dashboard')}}><i class="material-icons">dashboard</i> Dashboard</a>
  <a href={{url_for('trial_charts_blueprint.index')}}><i class="material-icons">insert_chart</i> Trial Charts</a>
  <a href={{url_for('exp_charts_blueprint.index')}}><i class="material-icons">insert_chart</i> Exp Charts</a>
  <a href={{url_for('adv_blueprint.index')}}><i class="material-icons">rocket_launch</i> Advanced</a>
  <a href={{url_for('gbet_charts_blueprint.plant_image')}}><i class="material-icons">photo_library</i> Images</a>
  <a href={{url_for('gbe_charts_blueprint.index')}}><i class="material-icons">insert_chart</i> GBE Charts</a>
  <a href={{url_for('gbet_charts_blueprint.index')}}><i class="material-icons">insert_chart</i> GBE_T Charts</a>
  <a href="/to_do"><i class="material-icons">construction</i> To Do</a>
  <a href={{url_for('test_blueprint.index')}}><i class="material-icons">build</i> Test</a>
  <a href="#services"><i class="material-icons">sunny</i> Environ</a>
  <a href="#services"><i class="material-icons">water_drop</i> Water</a>

</div>