{% extends "base.html" %}
{% block content %}

<p>Mars Farm: /to_do</p>
<p>To Do:</p>
<ul>

<li>Create multi-select/main chart page</li>
<li>Create advanced chart options</li>
<li>Create selection page (School(Box?)/Experiment/Trial</li>
<li>Add oAuth to login</li>
<li>Display (multiple) Static Images</li>
<li>Fix FM logo on topmenu</li>
<li>Add login check to base.html</li>

<ul>
<li>Data Entry</li>
<li>Record amount of water added</li>
<li>Record light duration (start/stop times)</li>
<li>Record number of seeds planted (plant setup?)</li>
<li>Create germination date input screen (pot, #germinated, date)</li>

</ul>
</ul>
<p>Done</p>
<ul>
<li>Rewrite in Nginx to properly forward requests to proxied servers (base index is still a problem)
<li>Multiple Blueprints working with templates
<li>Create main menu for access to defined pages</li>
<li>Create graphic menu (image buttons?)</li>
<li>Plant data entry (height, width, depth, health)</li>
<li>Table based data entry</li>
</ul>

{% endblock %}
