{# Index for administrative functions #}
{% extends "base.html" %}
{% block content %}

<p>Mars Farm Admin /admin/index</p>
<h2>Admin</h2>
<ul>
<li><a href={{url_for('admin_blueprint.set_login')}}>Login</a></li>
<li>Create Experiment</li>
<li>Use Experiment - select active Experiment by organization</li>
<li>Create Trial</li>
{# Give user ability to see boxes/plots outside of their organization #}
<li>Create User View</li>
<li>Search</li>
<ul>
<li>Select Trial by Exp-Creator, Experiment, Org, Trial</li>
<li>Select Trial by Exp-Creator, Org, Box, Trial</li>
<li>Select Trial by Org, Box, Trial</li>
</ul>
</ul>


{% endblock %}
